<section class="py-5">
    <h1 class="display-3">
        Thank You!
    </h1>
    <p class="lead">
        Your services are on their way to you and will be delivered to the email 
        you registered with withing 24 hours.
    </p>
    <a href="/" class="btn btn-dark btn-lg">Head On Back Home</a>
</section>